#cloud-config
write_files:
%{ for name, content in scripts_map ~}
  - path: "/var/lib/cloud/scripts/per-instance/${name}"
    permissions: "0754"
    owner: "root:root"
    encoding: b64
    content: ${base64encode(content)}
%{ endfor ~}
